.hero-group {
	display: flex;
}

.hero-group > * {
	flex: 1;
}

.hero-full, .hero-half {
	height: 500px;
	margin: 2em;
}

.hero-full {
	display: flex;
	align-items: center;
}

.hero-image {
	display: flex;
	height: 100%;
}

.hero-full .hero-image {
	justify-content: flex-end;
}

.hero-half .hero-image {
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
}

.hero-image img {
	height: 100%;
}

.hero-full .hero-image, .hero-full .hero-text {
	flex: 1;
	margin: 2em;
}

.hero-half {
	width: 50%;
	position: relative;
}

.hero-half .hero-image img {
	margin: 0 auto;
}

.hero-half .hero-text {
	text-align: center;
}
