.hero-group {
	display: flex;
}

.hero-full, .hero-half {
	height: 500px;
	margin: 2em;
}

.hero-full a {
	display: flex;
	align-items: center;

	height: 100%;
}

.hero-half {
	flex: 1;
}

.hero-half a {
	display: block;
	height: 100%;
	overflow: auto;
	position: relative;
	z-index: 2;
}

.hero-full a, .hero-half a {
	color: black;
	text-decoration: none;
}

.hero-image {
	display: flex;
	height: 100%;
}

.hero-full .hero-image {
	justify-content: flex-end;
}

.hero-half .hero-image {
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
}

.hero-image img {
	height: 100%;
}

.hero-full .hero-image, .hero-full .hero-text {
	flex: 1;
	margin: 2em;
}

.hero-half .hero-image img {
	margin: 0 auto;
}

.hero-half .hero-text {
	text-align: center;
	margin-top: 2em;
	z-index: 1;
}

.hero-black {
	background-color: black;
}

.hero-black a {
	color: white;
}
